.Home {
    margin-left: 10px;
    margin-right: 10px;
}

.Home .container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
}

.Home .container h5 {
    font-size: 1rem;
    font-weight: 400;
}


@media (min-width: 500px) and (min-height: 400px) {
    .Home {
        margin-left: 250px;
        margin-right: 250px;
    }

    .Home .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;
    }

    .Home .container h5 {
        font-size: 1rem;
        font-weight: 400;
    }
}
