.dark-mode{
    background-color: #261C2C;
    color: #fff;
    height: auto;
    transition: background-color 0.25s ease-in-out;
    min-height: 100vh;
  }
  
  .light-mode{
    background-color: 	#dedede;
    color: #333;
    height: auto;
    transition: background-color 0.25s ease-in-out;
    min-height: 100vh;
  }