body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}


.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  width: auto;
}

.card-dark {
  background-color: #3E2C41;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  width: auto;
}
